<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/sidebar.css">
{{>_sidebar}}
<script>
        function redirecionarPagina(selectObj) {
            var url = selectObj.value;
            if (url) {
                window.location.href = url;
            }
        }
</script>


<div class="card-container">
     <select onchange="redirecionarPagina(this)">
        <option value="">Selecione a prioridade do chamado</option>
        <option value="/admin/home/alta">Alta</option>
        <option value="/admin/home/mediana">Média</option>
        <option value="/admin/home/baixa">Baixa</option>
</select>
    {{#each ocorrencias}}
    <div class="card">
        <img src="/img/logo.jpg" alt="">
        <div class="card-content">
            <h3><i class='bx bxs-buildings'></i>{{empresa}}</h3>
            <p><i class='bx bxs-user-badge' ></i>Usuário:{{nomeUser}}</p>
            <p><i class='bx bxs-info-circle'></i>Proridade:{{prioridade}}</p>
            <p><i class='bx bx-barcode'></i>Código:{{codigo}}</p>
            <p><i class='bx bx-stats'></i>Estado:{{status}}</p>
            <a href="" class="btn">Fechar Chamado</a><br>
            <a href="" class="btn">Alterar Chamado</a>
        </div>
    </div> 
    {{/each}} 

</div>
<script>
    const navBar = document.querySelector('nav'),
          menuBtns = document.querySelectorAll('.menu-icon')

    menuBtns.forEach((menuBtn)=>{
        menuBtn.addEventListener('click',()=>{
            navBar.classList.toggle('open')
        })
    })
</script>