{{#each ocorrencias}}
    <h1>{{empresa}}</h1>
    <h2>Prioridade:{{prioridade}}</h2>
    <span>Autor:{{nomeUser}}</span><br>
    <span>Estado:{{status}}</span>
    <h3>Aberto em: {{createdAt}}</h3>
{{/each}}