{{>_navbar}}
    {{#with call}}
    <h1>Detalhes do Chamado</h1>
    <p><strong>Nome do Usuário:</strong> {{nomeUser}}</p>
    <p><strong>Empresa:</strong> {{empresa}}</p>
    <p><strong>Descrição sobre o Chamado:</strong>{{descricao}}</p>
    <p><strong>Status:</strong> {{status}}</p>
    <p><strong>ID do Chamado:</strong> {{id}}</p>
    
    <form action="/user/altercall/{{id}}" method="post">
        <label for="ocorrencias"><strong>Ocorrências:</strong></label>
        <select id="ocorrencias" name="ocorrencias">
            {{#each ../ocr}} 
                <option value="{{id}}">{{status}}</option>
            {{/each}}
        </select>
        <select id="prioridade" name="prioridade">
            <option value="alta">Urgente</option>
            <option value="media">Mediano</option>
            <option value="baixa">Leve</option>
        </select>
        <select id="estado" name="estado">
            <option value="Aberto">Aberto</option>
            <option value="Fechado">Fechado</option>
    </select>
        <input type="submit" value="Alterar">
    </form>
    {{/with}}



